span.ptc-donor-display-value, span.ptc-donor-message-value {
  display: none;
}

.calendar-calendar .week-view .full div.single-day div.weekview,
.calendar-calendar .month-view .full td.single-day div.monthview {
  background-color: transparent !important;
}

div.ptc-meal-button {
  cursor: default !important;
}

div.ptc-meal-button-available {
  background-color: #732222 !important;
  color: white !important;
}

div.ptc-meal-button-purchased {
  background-color: #fcb721 !important;
  color: black !important;
}

a.ptc-meal-available-link {
  margin-top: 5px;
  display: block;
  padding: 5px;
  color: white !important;
  border-radius: 5px;
  background-color: #732222;
}

/* Fix strange overlap of "next" and "prev" buttons in view/calendar pager. */
.view .date-nav-wrapper .date-prev {
  right: 90px;
}
.view .date-nav-wrapper .date-next {
  width: 90px;
}

/* Set city names to a font-size relative to calendar day width.
   Reference: "Font size as percentage of width" at https://app.asana.com/0/241603776072319/1113153301334740
*/
@media only screen and (max-width: 600px) {
  div.views-field-nothing h3 {
    font-size: 1.25vw;
  }

  div.ptc-meal-button {
    font-size: 1.25vw;
  }
}
